<div class="jumbotron">
    <h1>Badí Service App</h1>
    <p class="lead">Your source for Badí date services and conversions.</p>
    <p><a href="https://sites.google.com/site/badicalendartools/home/badi-services-app" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Basic Usage</h2>
      <p>Make a GET call to...</p>
      <p><a href="https://badiservices.apphb.com/today" target="sample">https://badiservices.apphb.com/today</a></p>
    </div>
    <div class="col-md-4">
        <h2>Custom Usage</h2>
      <p>To specify which date to get information for, add the year/month/day as well:</p>
      <p><a href="https://badiservices.apphb.com/today/2015/5/24" target="sample">https://badiservices.apphb.com/today/2015/5/24</a></p>
    </div>
    <div class="col-md-4">
        <h2>API Status</h2>
        <p>Initial development in May 2016.</p>
    </div>
</div>
